<head>
    <!-- *** Developer Meta *** -->
    <!-- Place this data between the <head> tags of your website -->
    <title>Rise Vision Developer Console | Digital signage developer resources</title>
    <meta name="description" content="The Rise Vision Developer Console is a resource to help developers build applications and widgets with Rise Vision's APIs and open source code" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Rise Vision Developer Console">
    <meta itemprop="description" content="The Rise Vision Developer Console is a resource to help developers build applications and widgets with Rise Vision's APIs and open source code">
    <meta itemprop="image" content="https://s3.amazonaws.com/Store-Products/Meta/developer.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@RiseVision">
    <meta name="twitter:title" content="Rise Vision Developer Console">
    <meta name="twitter:description" content="The Rise Vision Developer Console is a resource to help developers build applications and widgets with Rise Vision's APIs and open source code">
    <meta name="twitter:image:src" content="https://s3.amazonaws.com/Store-Products/Meta/developer.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="Rise Vision Developer Console" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://developer.risevision.com/" />
    <meta property="og:image" content="https://s3.amazonaws.com/Store-Products/Meta/developer.png" />
    <meta property="og:description" content="The Rise Vision Developer Console is a resource to help developers build applications and widgets with Rise Vision's APIs and open source code" />

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/components/rv-common-style/dist/css/rise.min.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

</head>
