
<!-- sidebar -->
<div id="navigation" class="docs-sidebar hidden-xs hidden-sm">

    <ul class="nav">
        {% for section in site.sections %}
            {% assign attr = section[0] %}
            {% assign label = section[1] %}

            {% for page in site.categories[attr] %}
                {% if forloop.first %}
                    <li class="nav-header add-top">
                        <h4>{{ label }}</h4>
                    </li>
                {% endif %}
                <li parent-order="{{page.parent-order}}" data-order="{{ page.order }}">
                    <span class="text-muted">&boxur;</span>
                    <a href="#{{ page.url }}">
                        {{ page.title }}
                    </a>
                </li>
            {% endfor %}

        {% endfor %}
    </ul>
</div>




