<!-- sidebar -->
<div id="navigation" class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        {% include search.form.html%}
        {% for section in site.sections %}
            {% assign attr = section[0] %}
            {% assign label = section[1] %}

            {% for page in site.categories[attr] %}
                {% if forloop.first %}
                    <li class="nav-header"><h2>{{ label }}</h2></li>
                {% endif %}
                <li parent-order="{{page.parent-order}}" data-order="{{ page.order }}"><a href="#{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}

        {% endfor %}
    </ul>
</div>




