.documentation {
  img { width: 100%; }

  pre {
    background-color: #fff;
    border-radius: 3px;
    max-height: 600px;
    overflow: scroll;
  }
}

/**
 * Documentation Sidebar
 */
.docs-sidebar {
  position: absolute;
  width: 25%;
  top: 0;
  left: 0;
  display: block;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: darken(#f4f4f4, 3.25%);
  padding: 0 0 20px 20px;

  * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .nav {
    h4 { margin-bottom: 10px; margin-top: 20px; }
    .nav { margin-left: 10px; }
    h5 { margin-top: 0; }
  }
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Sample code
 */
.code-sample-wrapper pre, code {
  font-size: 11px;
}

.github-sample-reference .meta-info {
  padding: 10px;
  word-wrap: break-word;
}

.github-sample-reference .author-info {
  float: right;
  padding: 10px;
}

#addDescriptionTextArea {
  width: 30em;
  height: 5em;
}

.top-buffer {
  margin-top: 20px;
}
