$brand-success: #45b864;

.app-header {
  margin-bottom: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid #D6D6D6;

  h1 { line-height: 40px !important; }
}

.app-title-links,
.app-title-links:hover,
.app-title-links:active  {
  display: block;
  color: $brand-success;
  i:before { color: $brand-success !important; }
}

.responsive-table {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-weight: bold;
  margin-bottom: 20px;
  overflow: hidden;
  min-height: 300px;

  .highlight { color: $brand-success; }

  .title-row {
    // @extend .row;
    font-size: 12px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 0;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tr-row {
    position: relative;
    display: block;
    width: 100%;
    clear: both;
    color: #aaa;
    // @extend .row;
    margin: 0;
    line-height: 66px;

    &:not(:last-child) { border-bottom: 1px solid #eee; }

    * {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Sample code
 */
.code-sample-wrapper pre, code {
  font-size: 11px;
}

.github-sample-reference .meta-info {
  padding: 10px;
  word-wrap: break-word;
}

.github-sample-reference .author-info {
  float: right;
  padding: 10px;
}

#addDescriptionTextArea {
  width: 30em;
  height: 5em;
}

.top-buffer {
  margin-top: 20px;
}
