.double-margin {
	margin-bottom: 40px !important;
}

.sub-company-alert {
	position: absolute;
	width: 100%;
	height: 24px;
	line-height: 24px;
	bottom: -24px;
	background-color: $brand-danger;
	color: #fff;
	padding: 0 20px;
	border-bottom: 1px solid darken($brand-danger, 10%);
}

.authorization-modal {
	text-align: center;

	.profile-img {
		width: 72px;
		height: 72px;
		-webkit-border-radius: 72px;
			 -moz-border-radius: 72px;
						border-radius: 72px;
	}

	p,
	.btn { margin-top: 40px; }
}