<div class="app-header add-bottom">
    <div class="app-title">
        <a class="app-title-links" href="#/apps">
            <i class="fa fa-home"></i> Developer
        </a>
        <h1>{('APPS' | translate)}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form role="form" novalidate="">
            <!-- Name -->
            <div class="form-group">
                <label for="appNameField" id="appNameLabel">{('APP_NAME' | translate)}</label>
                <input type="text" class="form-control" id="appNameField" ng-model="app.name">
            </div>
            <!-- Description -->
            <div class="form-group">
                <label for="appDescriptionTextArea" id="appDescriptionLabel" >{('APP_DESCRIPTION' | translate)}</label>
                <textarea type="text" class="form-control" id="appDescriptionTextArea" ng-model="app.description"></textarea>
            </div>
            <!-- Client ID -->
            <div class="form-group">
                <label for="appClientIdField" id="appClientIdLabel">{('APP_CLIENT_ID' | translate)}</label>
                <input type="text" class="form-control" id="appClientIdField" ng-model="app.clientId">
            </div>
            <!-- url -->
            <div class="form-group">
                <label for="appUrlField" id="appUrlLabel">{('APP_URL' | translate)}</label>
                <input type="appUrlField" class="form-control" id="url" ng-model="app.url">
            </div>
            <!-- Delete -->
            <button class="btn btn-danger btn-fixed-width pull-right" ng-click="deleteApp(app.id)">
                {('DELETE_BUTTON' | translate)} <i class="fa fa-white fa-trash-o icon-right"></i>
            </button>
            <!-- Cancel -->
            <a href="#/list" class="btn btn-primary btn-fixed-width">
                {('CANCEL_BUTTON' | translate)} <i class="fa fa-white fa-times icon-right"></i>
            </a>
            <!-- Save -->
            <button type="button" class="btn btn-success btn-fixed-width" ng-click="save(app)">
                {('SAVE_BUTTON' | translate)} <i class="fa fa-white fa-check icon-right"></i>
            </button>
        </form>
    </div>
</div>