<div  class="row">
    <div class="col-md-3">
        <h4 ng-show="showNoAppMessage">{('APP_NO_APP_YET_MESSAGE' | translate)}</h4>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-success btn-fixed-width" ng-click="addNewApp()">
            Add a New App
        </button>
    </div>
</div>

<table class="table table-striped" ng-show="showAppTable">
    <thead>
    <tr>
        <th>{('APP_NAME' | translate)}</th>
        <th>{('APP_DESCRIPTION' | translate)}</th>
        <th>{('APP_CLIENT_ID' | translate)}</th>
        <th>{('APP_URL' | translate)}</th>
        <th>{('APP_ACTION' | translate)}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="app in apps">
        <td>{( app.name )}</td>
        <td>{( app.description )}</td>
        <td>{( app.clientId )}</td>
        <td>{( app.url )}</td>
        <td>
            <button class="btn btn-primary" ng-click="editApp(app.id)">{('EDIT_BUTTON' | translate)}</button>
            <button class="btn btn-primary" ng-click="deleteApp(app.id)">{('DELETE_BUTTON' | translate)}</button>
        </td>
    </tr>
    </tbody>
</table>