<!-- App Header -->
<div class="app-header">
    <div class="app-title">
        <a class="app-title-links" href="#/apps">
            <i class="fa fa-home"></i> Developer
        </a>
        {% if page.type == 'developer' %}
            <h1>{('DEVELOPER_DOCS' | translate)}</h1>
        {% elsif page.type == 'user' %}
            <h1>{('USER_DOCS' | translate)}</h1>
        {% endif %}
    </div>

    <div class="global-actions">
        {% include search.form.html%}
    </div>
</div>

<!-- Docs nav for mobile -->
{% include mobile-nav.html %}

<div class="row documentation" style="position: relative;">

    <!-- Docs Nav Sidebar -->
    {% include sidebar.html %}

    <!-- Search Results -->
    {% include search.result.html%}

    <!-- Main Content -->
    <div class="col-md-offset-3 col-md-9">
        <div class="row">
            <div class="content-col">
                {% include content.html %}
            </div>
            <div class="code-sample-col col-md-6">
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function() {
        var subCats = $(".js-sub-cat");

        for (var i = subCats.length - 1; i >= 0; i--) {

            var url = document.URL;
            var subCat = $(subCats[i]);
            var category = subCat[0].getAttribute("category");
            var title = '' + subCat[0].getAttribute("title");
            title = title.replace(/ /g,'-');

            if (url.indexOf(category) === -1)
                subCat.find(".js-sub-nav").hide();

            subCat.find("h5 a").attr("href", "#/" + category + "/" + title.toLowerCase() + '.html');

            $('.docs-nav option').filter(function() {
                return (url.indexOf($(this).val()) !== -1);
            }).prop('selected', true);

        };
    });
</script>

<script type="text/javascript">
    $(function() {
        $('#search-query').lunrSearch({
            indexUrl: '{{ site.baseurl }}/search.json',             // URL of the `search.json` index data for your site
            results:  '#search-results',          // jQuery selector for the search results container
            entries:  '.entries',                 // jQuery selector for the element to contain the results list, must be a child of the results element above.
            template: '#search-results-template'  // jQuery selector for the Mustache.js template
        });
    });
</script>

<script type="text/javascript">
    $("select.docs-nav").change(function() {
        window.location = $(this).find("option:selected").val();
    });
</script>

{% raw %}
<script id="search-results-template" type="text/mustache">
          {{#entries}}
            <article>
              <h3>
                {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
                <a href="#{{url}}">{{title}}</a>
              </h3>
            </article>
          {{/entries}}
        </script>
{% endraw %}


<script>
    var codeSampleWrapper = $(".code-sample-wrapper");

    if (codeSampleWrapper.length > 0) {
        $(".code-sample-wrapper").appendTo(".code-sample-col");
        $(".content-col").addClass("col-md-6");
    } else {
        $(".content-col").addClass("col-md-12");
    }

</script>